.card {
	@apply relative text-white w-96 max-h-full rounded-xl px-8 py-8 mx-20;
}

.card:hover button {
	background-color: #8c20f8;
}

.cardImg {
	transition: transform 0.5s ease-in-out;
	@apply h-32 w-full rounded-[20px] !overflow-hidden;
}

.card:hover .cardImg {
	transform: scale(1.04);
}

.card h2 {
	@apply text-xl font-bold mt-3;
}

.card .btnn {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.title {
	transition: 0.5s ease-in-out; /* Smooth transition */
	@apply flex;
}

.card:hover .title {
	opacity: 0.6;
}

.address {
	transition: 0.5s ease-in-out; /* Smooth transition */
	@apply text-sm mt-2;
}

.card:hover .address {
	opacity: 0.6;
}

.description {
	@apply flex mt-5 w-11/12;
}
